.MakeAnAppointment {
    color: rgb(172, 121, 116);
    background-color: rgb(234, 216, 213);
    border-radius: 10px;
    margin: 0 auto;
    width: 99%;
}

.Details {
    font-size: 20px;
}

.Details strong {
    font-size: 20px;
    color: rgb(172, 121, 116);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 86, 77,0.6);
}

.BtnOk {
    background-color: rgb(172, 121, 116);
    height: 30px;
    border: 1px solid rgb(100, 86, 77);
    cursor: pointer;
    width: 80px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 16px;
}

.BtnCancel {
    color: rgb(100, 86, 77);
    background-color: transparent;
    border: none;
    margin: 8px;
    display: none;
}

@media(min-width: 768px) {
    .BtnCancel {
        display: block;
    }
    .BtnOk {
        margin-top: 24px;
        margin-bottom: 0;
    }
}

.Success {
    color: rgb(172, 121, 116);
    align-items: center;
    font-size: 20px;
    padding: 30px;
}