.Toolbar {
    height: 100px;
    width: 100%;
    background-color: rgb(234, 216, 213);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 290;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 767px) {
    .Toolbar {
        direction: rtl;
        height: 70px;
    }
    .DesktopOnly {
        display: none;
    }
}