.Month {
    width: 80%;
    direction: rtl;
    margin: 0 auto;
    background-color: rgb(234, 216, 213);
    border: 4px solid rgb(172, 121, 116);
    border-radius: 8px;
    padding: 2px;
    font-size: 16px;
}



.Day {
    width: 100px;
    height: 50px;
    color: rgb(84, 72, 64);
    /* font-size: 232px; */
    background-color: transparent;
    border: none;
    font-family: inherit;
    /* font-weight: bold; */
    cursor: pointer;
}

.Day:hover {
    background-color: rgb(84, 72, 64);
    color: white;
}

.Day:disabled {
    cursor: not-allowed;
    background-color: rgb(214, 195, 186);
    color: rgb(124, 113, 106);
}

.Today {
    background-color: rgb(172, 121, 116);
    /* font-size: 16px; */
    border: none;
    font-family: inherit;
    /* font-weight: bold; */
    cursor: pointer;
}

.Today:hover {
    background-color: rgb(84, 72, 64);
    color: white;
}

@media(min-width: 768px) {
    .Month {
        width: 980px;
        font-size: 32px;
    }
    .Day {
        height: 90px;
        font-size: 32px;
    }
    .Today {
        font-size: 32px;
    }
}