.Week {
    width: 50%;
    height: 500px;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(234, 216, 213);
    display: flex;
    justify-content: center;
    border: 2px solid rgb(172, 121, 116);
    border-radius: 10px;
    direction: rtl;
}

@media(min-width: 768px) {
    .Week {
        width: 980px;
    }
}