.Picker {
    width: 50%;
    margin: 32px auto;
    align-items: center;
    display: flex;
    flex-flow: column;
    direction: rtl;
    color: rgb(100, 86, 77);
}

.Days {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media(min-width: 992px) {
    .Days {
        flex-flow: row;
    }
}

form label {
    /* font-size: 24px;
    font-weight: bold; */
    margin-left: 8px;
    margin-bottom: 32px;
}

form select {
    width: 60px;
    height: 30px;
    /* font-size: 24px;
    font-weight: bold; */
    font-family: inherit;
    border-radius: 8px;
    background-color: rgb(214, 195, 186);
    color: rgb(100, 86, 77);
}

form select option{
color: red;
}

form button {
    width: 100px;
    height: 40px;
    background-color: rgb(172, 121, 116);
    color: white;
    border: 2px solid rgb(100, 86, 77);
    border-radius: 5px;
    font-size: larger;
    /* font-weight: 700; */
}